/*

    black: #272727;
    grey: #696773;
    white: #ff1f3;
    yellow: #fed766;
    blue: #009fb7;

*/

html {
    position: relative;
    min-height: 100%;
}


body {
    background-color: #eff1f3;
    margin-bottom: 60px;
}


.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}


.pull-down {
    margin-bottom: 0;
    margin-top: auto;
}


.pull-center {
    margin: auto 0;
}


.blog-header {
    padding-top: 1em;
    padding-bottom: 3em;
}


.blog-footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    padding: 1em 0;
    width: 100%;
}


.blog-header,
.blog-footer,
.navbar,
.nav-link,
.footer-link,
.dropdown-toggle:focus,
.dropdown-toggle:hover,
#dropdown-menu ul,
#dropdown-menu a{
    background-color: #272727;
    color: #eff1f3;
}


/* remove line from small screen menu dropdown */
.navbar-collapse {
    border-top: none;
    box-shadow: none;
}


.navbar-header {
    height: 100%;
}


.navbar-toggle {
    margin: auto 0;
    vertical-align: center;
    height: 100%; 
}


/* spacing for font awesome icons */
.fa {
    padding-right: 10px;
}


.edit-btn-frm {
    display: inline;
}


.author-header {
    padding-bottom: 25px;
}


.author-bio {
    margin: auto 0;
}


.nav-link:focus,
.nav-link:hover {
    background-color: transparent;
    color: #272727;
}


.icon-bar {
    background-color: #eff1f3;
}


.content {
    padding: 20px 0;
}


.post-image {
    max-width: 100%;
    width: 100%;
}


.post {
    padding-bottom: 20px;
}


.post-full {
    max-width: 100%;
}


.post-summary-header {
    display: flex;
    flex-wrap: wrap;
}


.error {
    color: red;
}


.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
    padding: 10px;
}


.nav-tabs {
    margin-bottom: 0;
}


.hr-vis {
    border: 1px solid #696773;
}


.comment { 
    padding-bottom: 30px;
}


.user-menu {
    padding-left: 15px;
}

