{% extends "base.html" %}



{% block title %}About{% endblock %}
{% block content %}

<div class="row">
    <div class="col-xs-10 col-xs-offset-1">

        <div class="row about-header">
            <div class="col-xs-12 text-center">
                <h2>About this site</h2>
            </div>
        </div>

        <div class="row about-body">
            <div class="col-xs-12 text-center">
                <p>This blog is an assignment written by Arjay Nguyen for Udacity's Full Stack Engineer nanodegree program.</p>
                <a href="https://github.com/Arjay123/multi-user-blog">Link to github repo</a>
            </div>
        </div>

    </div>
</div>

{% endblock %}