{% extends "base.html" %}
{% from "macros.html" import author_img %}

{% block content %}
<div class="row author-header">
	<div class="col-xs-12 text-center">
	<h1>Our Authors</h1>
	</div>
</div>
<div class="row authors">
	{% for author in authors %}
	<div class="author col-xs-12 col-sm-6 col-md-4">
		<div class="row author-summary text-center">
			<div class="col-xs-12">
				<a href="/author/{{author.key().id()}}">
					{{author_img(author.key().id())}}
					<h3>{{author.first_name + " " + author.last_name}}</h3>
				</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}