{% macro post_form(title="", content="", header_image=None) %}
	<form method="post" enctype="multipart/form-data">
		<div class="form-group">
		    <label for="title">Title</label>
		    <input type="text" class="form-control" name="title" id="title" placeholder="Title" value="{{title}}">
	  	</div>
	  	<div class="form-group">
		    <label for="content">Body</label>
		    <textarea class="form-control" name="content" id="content" placeholder="Type out your thoughts here">{{content}}</textarea>
	  	</div>
	  	<div class="form-group">
	  		<label for="img">Header Image</label>
	  		<input type="file" name="img"/>
	  	</div>
	  	<button type="submit" class="btn btn-default">Submit</button>
	</form>
{%- endmacro %}


{% macro post_full(post) %}

	<div class="row post-full">
		<div class="col-xs-12">

			<div class="row post-full-header">
				<picture class="col-xs-12">
					<source media="(min-width: 768px)" srcset="/postimg/{{post.header_image_med}} 1x, /postimg/{{post.header_image_large}} 2x">
					<source media="(min-width: 375px)" srcset="/postimg/{{post.header_image_small}} 1x, /postimg/{{post.header_image_med}} 2x">
					<img class="center-block post-image img-responsive" src="/postimg/{{post.header_image_thumb}}">
				</picture>
				<div class="col-xs-12 post-full-title"><h3>{{post.title}}</h3></div>
			</div>

			<div class="row post-full-info">
				<div class="col-xs-6 post-author"><h6>{{post.get_author_name()}}</h6></div>
				<div class="col-xs-6 text-right post-stats">
					{{ post_stats(post.get_comments_num(), post.likes | length, post.views) }}
				</div>
			</div>

			<div class="row post-summary-content">
				<div class="col-xs-12 post-summary-content"><p>{{post.get_formatted_text() | safe}}</p></div>
			</div>

			<div class="row row-eq-height post-summary-footer">
				<div class="col-xs-6 post-summary-date pull-center"><h5><small>{{post.created.date().strftime("%b %d, %Y")}}</small></h5></div>
			</div>
		</div>
	</div>

{% endmacro %}


{% macro post_stats(comment_num, likes, views) %}

<i class="fa fa-commenting" aria-hidden="true"> {{comment_num}}</i>
<i class="fa fa-thumbs-up" aria-hidden="true"> {{likes}}</i>
<i class="fa fa-eye" aria-hidden="true"> {{views}}</i>

{% endmacro %}



{% macro post_thumb(post) %}
<div class="post col-xs-12 col-sm-6 col-md-4">
	<div class="row post-summary-header">
		<picture class="col-xs-12">
			<source media="(min-width: 375px) and (max-width: 768px)" srcset="/postimg/{{post.header_image_small}} 1x">
			<img class="center-block post-image img-responsive" src="/postimg/{{post.header_image_thumb}}">
		</picture>

		<div class="col-xs-12 post-summary-title"><h3>{{post.title}}</h3></div>
	</div>
	<div class="row row-eq-height post-summary-info">
			<div class="col-xs-4 post-author"><h6>{{post.get_author_name()}}</h6></div>
			<div class="col-xs-8 pull-center text-right post-stats">

				{{ post_stats(post.comment_num, post.likes | length, post.views) }}

			</div>
		</div>
	<div class="row post-summary-content">
		<div class="col-xs-12 post-summary-content"><p>{{post.snippet | safe }}</p></div>
	</div>
	<div class="row row-eq-height post-summary-footer">
		<div class="col-xs-6 post-summary-date pull-center"><h5><small>{{post.created.date().strftime("%b %d, %Y")}}</small></h5></div>
		<div class="col-xs-6 post-summary-link text-right pull-center"><a href="/post/{{post.key().id()}}">Read more...</a></div>
	</div>
</div>
{% endmacro %}

{% macro break(visible=false) %}

	<div class="row break">
		<div class="col-xs-12">
			{% if visible %}
				<hr class="hr-vis">
			{% else %}
				<hr>
			{% endif %}
		</div>
	</div>

{% endmacro %}


{% macro author_img(author_key) %}

	<img class="img-responsive center-block img-circle" src="/userimg/{{author_key}}">

{% endmacro %}

{% macro isotope() %}

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

<script>
var $grid = $(".posts").imagesLoaded(function() {
  // init Masonry after all images have loaded
  $grid.isotope({
    itemSelector: ".post",
    layoutMode: "fitRows"
  });
});


</script>

{% endmacro %}





