{% extends "base.html" %}
{% from "macros.html" import post_stats, post_full %}

{% block title %}Post{% endblock %}
{% block content %}

<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		{{ post_full(post) }}
	</div>
</div>

{% if user %}

	{% if post.user_is_author(user.key().id()) %}

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<a href="/edit/{{post.key().id()}}">Edit this post</a>
		</div>
	</div>

	{% else %}

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<form method="post">
				{% if user_liked %}
				<button type="submit" name="submit" value="unlike" class="btn btn-default pull-right">
					<i class="fa fa-thumbs-down" aria-hidden="true"></i>Unlike this post
				</button>
				{% else %}
				<button type="submit" name="submit" value="like" class="btn btn-default pull-right">
					<i class="fa fa-thumbs-up" aria-hidden="true"></i>Like this post
				</button>
				{% endif %}
			</form>
		</div>
	</div>

	{% endif %}

{% endif %}
<hr>
<div class="row comments-hdr">
	<div class="col-xs-10 col-xs-offset-1">
	<h2>Comments</h2>
	<hr class="comments-hdr-hr">
	</div>
</div>

<div class="row">
	<div class="col-xs-10 col-xs-offset-1">

{% for comment in post.get_comments() %}
	
		<div class="row comment">
			<div class="hidden-xs col-sm-2">
				<img class="img-responsive center-block img-circle" src="/userimg/{{comment.user.key().id()}}">
			</div>
			<div class="col-xs-12 col-sm-10">
				<h4>{{comment.get_user_name()}}</h4>
				<p>{{comment.get_formatted_text() | safe}}</p>


				{% if user and comment.user_is_author(user.key().id()) %}
				<form action="/uncomment" method="post">
					<input type="text" hidden name="comment_id" value="{{comment.key().id()}}">
					<button class="btn btn-danger pull-right" type="submit" name="submit" value="uncomment">Delete this comment</button>
				</form>
				{% endif %}
			</div>
		</div>
{% endfor %}

		{% if user %}
		<div class="row">
			<div class="col-xs-12">
				<form method="post">
					<div class="form-group">
					    <textarea class="form-control" name="comment" id="comment" placeholder="Leave a comment..."></textarea>
			  		</div>
			  		<button type="submit" name="submit" value="comment" class="btn btn-default pull-right">Submit</button>
				</form>
			</div>
		</div>
		{% else %}
		<div class="row">
			<div class="col-xs-12">
				<p>Log in to post comments...</p>
			</div>
		</div>
		{% endif %}

	</div>
</div>
{% endblock %}

