{% extends "base.html" %}


{% block content %}

<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="col-xs-12 post-full">
				<div class="row post-summary-header">
					<picture class="col-xs-12 text-center post-image">
						<source media="(min-width: 1000px)" srcset="/postimg?img_id={{post.header_image}} 1x, /postimg?img_id={{post.header_image_large}} 2x">
						<source media="(min-width: 399px)" srcset="/postimg?img_id={{post.header_image_small}} 1x, /postimg?img_id={{post.header_image}} 2x">
						<img src="/postimg?img_id={{post.header_image_small}}">
					</picture>
					
					<div class="col-xs-12 post-summary-title"><h3>{{post.title}}</h3></div>
					<div class="col-xs-12"><h6>{{post.get_author_name()}}</h6></div>
				</div>
				<div class="row post-summary-content">
					<div class="col-xs-12 post-summary-content"><p>{{post.content}}</p></div>
				</div>
				<div class="row row-eq-height post-summary-footer">
					<div class="col-xs-6 post-summary-date pull-center"><h5><small>{{post.created.date().strftime("%b %d, %Y")}}</small></h5></div>
					<div class="col-xs-6 post-summary-link text-right pull-center"><a href="/post/{{post.key().id()}}">Read more...</a></div>
				</div>
			</div>
	</div>
</div>
{% endblock %}