{% extends "base.html" %}


{% block content %}

<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="row post-summary-header">
			<picture class="col-xs-12">
				<source media="(min-width: 768px)" srcset="/postimg?img_id={{post.header_image_med}} 1x, /postimg?img_id={{post.header_image_large}} 2x">
				<source media="(min-width: 375px)" srcset="/postimg?img_id={{post.header_image_small}} 1x, /postimg?img_id={{post.header_image_med}} 2x">
				<img class="center-block post-image img-responsive" src="/postimg?img_id={{post.header_image_thumb}}">
			</picture>
			<div class="col-xs-12 post-summary-title"><h3>{{post.title}}</h3></div>
		</div>
		<div class="row post-summary-info">
			<div class="col-xs-6 post-author"><h6>{{post.get_author_name()}}</h6></div>
			<div class="col-xs-6 text-right post-stats">
				<i class="fa fa-commenting" aria-hidden="true"> 123</i>
				<i class="fa fa-thumbs-up" aria-hidden="true"> {{post.likes | length}}</i>
				<i class="fa fa-eye" aria-hidden="true"> {{post.views}}</i>
			</div>
		</div>
		<div class="row post-summary-content">
			<div class="col-xs-12 post-summary-content"><p>{{post.get_formatted_text() | safe }}</p></div>
		</div>
		<div class="row row-eq-height post-summary-footer">
			<div class="col-xs-6 post-summary-date pull-center"><h5><small>{{post.created.date().strftime("%b %d, %Y")}}</small></h5></div>
		</div>
	</div>
</div>

<hr>

{% if user %}
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<form method="post">
			{% if user_liked %}
			<button type="submit" name="like-status" value="unlike" class="btn btn-default">
				<i class="fa fa-thumbs-down" aria-hidden="true"></i>Unlike this post
			</button>
			{% else %}
			<button type="submit" name="like-status" value="like" class="btn btn-default">
				<i class="fa fa-thumbs-up" aria-hidden="true"></i>Like this post
			</button>
			{% endif %}
		</form>
	</div>
</div>
{% endif %}

{% endblock %}

