{% extends "base.html" %}


{% block content %}
<div class="row">
	<div class="col-xs-10 col-xs-offset-1 text-center">
		<h2>New User Signup</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<form method="post" enctype="multipart/form-data">
			<div class="form-group">
			    <label for="username">Username</label>
			    <input type="text" class="form-control" name="username" id="username" placeholder="Username" value="{{username}}">
			    <div class="error">{{username_error}}</div>
		  	</div>

		  	<div class="form-group">
		  		<label for="first_name">First Name</label>
		  		<input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name">
		  		<div class="error">{{first_name_error}}</div>
		  	</div>

			<div class="form-group">
		  		<label for="last_name">Last Name</label>
		  		<input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name">
		  		<div class="error">{{last_name_error}}</div>
		  	</div>

		  	<div class="form-group">
		  		<label for="password">Password</label>
		  		<input type="password" class="form-control" name="password" id="password">
		  		<div class="error">{{password_error}}</div>
		  	</div>

		  	<div class="form-group">
		  		<label for="confirm_pw">Confirm Password</label>
		  		<input type="password" class="form-control" name="confirm_pw" id="confirm_pw">
		  		<div class="error">{{confirm_pw_error}}</div>
		  	</div>

		  	<div class="form-group">
		  		<label for="email">Email (optional)</label>
		  		<input type="text" class="form-control" name="email" id="email" placeholder="email@domain.com">
		  		<div class="error">{{email_error}}</div>
		  	</div>

		  	<div class="form-group">
			  	<label for="img">Avatar Image (optional)</label>
			 	<input type="file" name="img"/>
			</div>

		  	<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>



{% endblock %}