{% extends "base.html" %}


{% block content %}

<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="row user-summary">
			<div class="col-xs-12">
				<img class="img-responsive center-block img-circle" src="/userimg?img_id={{user.key().id()}}">
			</div>
			<div class="col-xs-12 text-center">
				<h2>Ardood</h2>
			</div>
		</div>

		{% if user %}
		<div class="row user-settings">
			<div class="col-xs-12">
				<form method="post" enctype="multipart/form-data">
				  	<div class="form-group">
				  		<label for="first_name">First Name</label>
				  		<input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name" value="{{user.first_name}}">
				  		<div class="error">{{first_name_error}}</div>
				  	</div>

					<div class="form-group">
				  		<label for="last_name">Last Name</label>
				  		<input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name" value="{{user.last_name}}">
				  		<div class="error">{{last_name_error}}</div>
				  	</div>

				  	<div class="form-group">
				  		<label for="password">Password</label>
				  		<input type="password" class="form-control" name="password" id="password">
				  		<div class="error">{{password_error}}</div>
				  	</div>

				  	<div class="form-group">
				  		<label for="confirm_pw">Confirm Password</label>
				  		<input type="password" class="form-control" name="confirm_pw" id="confirm_pw">
				  		<div class="error">{{confirm_pw_error}}</div>
				  	</div>

				  	<div class="form-group">
				  		<label for="email">Email (optional)</label>
				  		<input type="text" class="form-control" name="email" id="email" placeholder="email@domain.com" value="{{user.email}}">
				  		<div class="error">{{email_error}}</div>
				  	</div>

				  	<div class="form-group">
					  	<label for="img">Avatar Image (optional)</label>
					 	<input type="file" name="img"/>
					</div>

				  	<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
		{% endif %}
	</div>
</div>


{% endblock %}